.section1 {
    height: 100vh;
    padding: 0 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #eeeeee;
}

/* DIV1 */
.section1 .div1 {
    width: 30em;
}

.section1 .div1 h1 {
    margin: 0 0 .5em;
    font-size: 5em ;
    /* line-height: 1.8; */
}

.section1 .div1 p {
    margin: 0 0 1.2em;
}

.section1 .div1 .btn {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section1 .div2 {
    height: 20em;
    width: 20em;
    background: red;
}